// ==============================================================================
// Global
// ==============================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--global-heading-family);
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--global-font-family);
}

#__docusaurus {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[data-theme="dark"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--nebari-blue-gray-11);
    }
}

// ==============================================================================
// Links
// ==============================================================================

a {
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: {
        property: text-decoration;
        timing-function: ease-out;
        duration: 0.3s;
    }
    &:hover {
        text-decoration-thickness: 2px;
    }
}

[data-theme="dark"]a {
    color: var(--nebari-links-dark);
}

// ==============================================================================
// Edit page
// ==============================================================================

.theme-edit-this-page {
    display: flex;
    align-items: center;
    height: 30px;
    color: var(--ifm-menu-color);
    svg {
        display: none;
    }
    &::before,
    &::after {
        content: "";
        display: inline-block;
        transform: translateX(0);
        transition: transform var(--ifm-transition-fast) linear;
    }
    &::before {
        margin-right: 0.5rem;
        content: url("../../static/icons/edit-dark.svg");
        width: 24px;
        height: 24px;
        opacity: 0.8;
    }
    &::after {
        margin-left: 0.25rem;
        width: 1rem;
        height: 1rem;
        margin-bottom: -0.25rem;
    }
    &:hover {
        color: var(--ifm-color-primary);
        text-decoration-thickness: 2px;
        &::after {
            transform: translateX(0.25rem);
        }
    }
}

[data-theme="dark"] {
    .breadcrumbs__item--active .breadcrumbs__link {
        background: var(--ifm-breadcrumb-item-background-active);
        color: var(--nebari-links-dark);
    }

    .theme-edit-this-page {
        color: var(--ifm-menu-color);
        &::before,
        &::after {
            content: "";
            display: inline-block;
            transform: translateX(0);
            transition: transform var(--ifm-transition-fast) linear;
        }
        &::before {
            content: url("../../static/icons/edit.svg");
            opacity: 0.8;
        }
        &:hover {
            color: var(--nebari-links-dark);
            text-decoration-thickness: 2px;
            &::after {
                transform: translateX(0.25rem);
            }
        }
    }
}

// ==============================================================================
// Toastify
// ==============================================================================

.Toastify__toast {
    background-color: var(--ifm-color-primary);
    border-radius: var(--ifm-alert-border-radius);
    color: var(--ifm-surface-text-color);
    font-size: 0.9em;
}

.Toastify__close-button {
    color: var(--ifm-surface-text-color);
}

.Toastify__progress-bar {
    background-color: var(--ifm-color-primary-light) !important;
}

// ==============================================================================
// Doc Page Footer
// ==============================================================================

.docusaurus-mt-lg {
    margin-top: 3rem;
}

.card {
    background-color: transparent;
    border-radius: var(--ifm-global-radius);
}

.cardContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocCard-styles-module {
    --ifm-link-hover-decoration: none;
    box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
    transition: all var(--ifm-transition-fast) ease;
    transition-property: box-shadow;
}

.cardContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocCard-styles-module:hover {
    border: 1px solid var(--ifm-color-emphasis-200) !important;
    border-bottom: 3px solid var(--accent-nebari) !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

a.card {
    text-decoration: none;
    color: var(--ifm-color-content);
}
