.markdown {
  > p {
    code {
      padding: 0px 2px;
      margin-right: 3px;
      margin-left: 3px;
      vertical-align: bottom;
    }
    a:hover {
      text-decoration-thickness: 2px;
      text-decoration-color: var(--ifm-color-primary);
    }
  }

  // lists in markdown - style when it's a URL
  > li {
    a:hover {
      text-decoration-thickness: 2px;
      text-decoration-color: var(--nebari-links);
    }
  }

  blockquote {
    background-color: var(--nebari-blue-gray-11);
    border-color: var(--accent-nebari);
    font-weight: 500;
    padding: 10px;
    &::before,
    &::after {
      content: '"';
    }

    code {
      background-color: var(--nebari-blue-gray-10);
      color: var(--ifm-color-black);
    }
  }

  code {
    font-family: var(--global-block-family-code);
    background-color: transparent;
    border: 0px;
    color: var(--nebari-code-color);
  }

  pre code {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--global-border-radius);
    padding: 20px;
  }

  div[class^="codeBlock_"] {
    border-radius: 0;
  }

  .token-line {
    font-family: var(--global-block-family-code);
  }
}

div[class^="codeBlockTitle"] {
  background-color: var(--nebari-blue-gray-10);
  font-family: var(--global-block-family-code);
  color: var(--ifm-color-content);
}

[data-theme="dark"] {
  .markdown {
    blockquote {
      background-color: var(--ifm-color-black-light);

      code {
        background-color: var(--ifm-color-black-lighter);
        color: var(--ifm-color-white);
      }
    }

    code {
      color: var(--nebari-code-color-dark);
    }

    pre code {
      background-color: var(--ifm-color-black-lighter);
    }
  }

  div[class^="codeBlockTitle"] {
    background-color: var(--ifm-color-black-light);
    color: var(--ifm-color-content);
  }
}
