// ==============================================================================
// Navbar
// ==============================================================================

.navbar__title {
  font-size: 1.5rem;
  color: var(--secondary-nebari);
}

.navbar--dark {
  --ifm-navbar-link-hover-color: var(--nebari-links-dark) !important;
}

.navbar__link {
  text-decoration: none;
  color: var(--nebari-blue-gray-11);
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--nebari-links-dark);
  }
}

.navbar__brand {
  text-decoration: none;
  color: var(--nebari-links-dark);
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--nebari-links-dark);
  }
}

[data-theme="dark"] {
  .navbar__link {
    color: var(--ifm-color-white);
  }

  .navbar__link:hover {
    color: var(--nebari-links-dark);
  }

  div[class^="announcementBar_"] {
    background-color: var(--nebari-blue-gray-11);
  }
}

// ==============================================================================
// Header
// ==============================================================================

.header-github-link {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    content: url("../../static/icons/github-light.svg");
  }
  &:hover {
    opacity: 0.6;
  }
}

div[class^="announcementBar_"] {
  font-weight: 500;
  height: 70px;
  background-color: var(--nebari-blue-gray-11);
  border-bottom: 2px solid var(--secondary-nebari);
}

div[class^="announcementBarContent_"] {
  font-size: 1rem;
  padding: 20px 0;
}
