// ==============================================================================
// Navbar
// ==============================================================================

.navbar__title {
  font-size: 1.5rem;
  color: var(--secondary-nebari);
}

.navbar__link {
  text-decoration: none;
  color: var(--nebari-blue-gray-11);
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--secondary-nebari);
  }
}

.navbar__brand {
  text-decoration: none;
  color: var(--nebari-links-dark);
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--nebari-links-dark);
  }
}

[data-theme="dark"] {
  .navbar__link {
    color: var(--ifm-color-white);
  }

  .navbar__link:hover {
    color: var(--nebari-links-dark);
  }
}

// ==============================================================================
// Searchbar
// ==============================================================================

.navbar {
  .DocSearch {
    margin-left: 25px;
  }

  .DocSearch-Button {
    border-radius: var(--ifm-global-radius);
    padding: 0 6px 0 10px;

    .DocSearch-Search-Icon {
      width: 16px;
      margin-top: -1px;
    }
  }

  .DocSearch-Button-Placeholder,
  .DocSearch-Button-Key {
    font-size: 14px !important;
  }

  .DocSearch-Button-Key {
    padding-bottom: 0 !important;
  }

  .DocSearch-Button-Key svg {
    margin-bottom: 1px !important;
  }
}

@media (max-width: 1080px) {
  .navbar {
    .DocSearch {
      margin-left: 15px;
    }

    .DocSearch-Button {
      padding: 0 12px;
    }

    .DocSearch-Button-Key,
    .DocSearch-Button-KeySeparator,
    .DocSearch-Button-Placeholder {
      display: none;
    }
  }
}

// ==============================================================================
// Header
// ==============================================================================

.header-github-link {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    content: url("../../static/icons/github-light.svg");
  }
  &:hover {
    opacity: 0.6;
  }
}
